﻿@model DAL.Entrepeneur

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<div id="div_Entrepeneur" style="margin-top: 20px; background-color: whitesmoke;">
    <div id="div_DoDocumentsExist" style="display:inline">
        <div class="editor-label">
            @Html.LabelFor(model => model.DoDocumentsExist)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DoDocumentsExist)
            @Html.ValidationMessageFor(model => model.DoDocumentsExist)
        </div>
    </div>

    <div id="div_DoDocumentsExistInGerman" style="display:none">
        <div class="editor-label">
            @Html.LabelFor(model => model.DoDocumentsExistInGerman)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DoDocumentsExistInGerman)
            @Html.ValidationMessageFor(model => model.DoDocumentsExistInGerman)
        </div>
    </div>
   
    <div id="div_DoYouRequireHelpInTranslation" style="display:none">
        <div class="editor-label">
            @Html.LabelFor(model => model.DoYouRequireHelpInTranslation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DoYouRequireHelpInTranslation)
            @Html.ValidationMessageFor(model => model.DoYouRequireHelpInTranslation)
        </div>
    </div>
   
    <div id="div_DoYouNeedAdvice" style="display:none">
        <div class="editor-label">
            @Html.LabelFor(model => model.DoYouNeedAdvice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DoYouNeedAdvice)
            @Html.ValidationMessageFor(model => model.DoYouNeedAdvice)
        </div>
    </div>
    
    <div id="div_DoYouHaveFinancing" style="display:none">
        <div class="editor-label">
            @Html.LabelFor(model => model.DoYouHaveFinancing)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DoYouHaveFinancing)
            @Html.ValidationMessageFor(model => model.DoYouHaveFinancing)
        </div>
    </div>

</div>

<script type="text/javascript">
    $(function () {
        
        //Reset-----------------------
      
        $('#DoDocumentsExist').on('change', function (e) {
            HideCtrls(["div_DoDocumentsExistInGerman", "div_DoYouRequireHelpInTranslation", "div_DoYouNeedAdvice", "div_DoYouHaveFinancing"]);

            $('#DoDocumentsExistInGerman').val("");
            $('#DoYouRequireHelpInTranslation').val("");
            $('#DoYouNeedAdvice').val("");
            $('#DoYouHaveFinancing').val("");

            var valueSelected = this.value;
            if (valueSelected == "true") {
                ShowCtrls(["div_DoDocumentsExistInGerman"]);
            }
        }
        );

        $('#DoDocumentsExistInGerman').on('change', function (e) {
            HideCtrls([ "div_DoYouRequireHelpInTranslation", "div_DoYouNeedAdvice", "div_DoYouHaveFinancing"]);
            $('#DoYouRequireHelpInTranslation').val("");
            $('#DoYouNeedAdvice').val("");
            $('#DoYouHaveFinancing').val("");

            var valueSelected = this.value;
            if (valueSelected == "true") {
                ShowCtrls(["div_DoYouRequireHelpInTranslation"]);
            }
        }
       );

        $('#DoYouRequireHelpInTranslation').on('change', function (e) {
            HideCtrls(["div_DoYouNeedAdvice", "div_DoYouHaveFinancing"]);

            $('#DoYouNeedAdvice').val("");
            $('#DoYouHaveFinancing').val("");

            var valueSelected = this.value;
            if (valueSelected == "true") {
                ShowCtrls(["div_DoYouNeedAdvice"]);
            }
        }
        );

        $('#DoYouNeedAdvice').on('change', function (e) {
            HideCtrls(["div_DoYouHaveFinancing"]);

            $('#DoYouHaveFinancing').val("");

            var valueSelected = this.value;
            if (valueSelected == "true") {
                ShowCtrls(["div_DoYouHaveFinancing"]);
            }
        }
      );

       
    });
</script>