﻿@model DAL.Family

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>



<div id="Family" style="margin-top: 20px; background-color: whitesmoke;">
    <div id="div_FamilyRelation_Id" style="display:inline">
        <div class="editor-label">
            @Html.LabelFor(model => model.FamilyRelation_Id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("FamilyRelation_Id", null, "- - - - - Select - - - - - -", new { Class = "form-control" })
            @Html.ValidationMessageFor(model => model.FamilyRelation_Id)
        </div>
    </div>
    <div id="div_Spouse_Id" style="display:none">
        <div class="editor-label">
            @Html.LabelFor(model => model.Spouse_Id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Spouse_Id", null, "- - - - - Select - - - - - -", new { Class = "form-control" })
            @Html.ValidationMessageFor(model => model.Spouse_Id)
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        $('#FamilyRelation_Id').on('change', function (e) {
            HideCtrls(["div_Spouse_Id"]);
            $('#Spouse_Id').val("");

            var valueSelected = this.value;
            if (valueSelected == 3) {
                ShowCtrls(["div_Spouse_Id"]);
            }
        }
        );

    });
</script>