﻿@model DAL.Study

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div id="divStudy" style="margin-top: 20px; background-color: whitesmoke;">
   
    <div id="div_DoYouHaveEnoughMoney" style="display:inline">
        <div class="editor-label">
            @Html.LabelFor(model => model.DoYouHaveEnoughMoney)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DoYouHaveEnoughMoney)
            @Html.ValidationMessageFor(model => model.DoYouHaveEnoughMoney)
        </div>
    </div>

    <div id="div_FieldOfStudy_Id" style="display: none">
        <div class="editor-label">
            @Html.LabelFor(model => model.FieldOfStudy_Id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("FieldOfStudy_Id", null, "- - - - - Select - - - - - -", new { Class = "form-control" })
            @Html.ValidationMessageFor(model => model.FieldOfStudy_Id)
        </div>
    </div>
    
    <div id="div_StudyLevel_Id" style="display: none">
        <div class="editor-label">
            @*@Html.LabelFor(model => model.StudyLevel_Id)*@
            Study Level
        </div>
        <div class="editor-field">
            @Html.DropDownList("StudyLevel_Id", null, "- - - - - Select - - - - - -", new { Class = "form-control" })
        </div>
    </div>
        <div id="div_UniversityType_Id" style="display: none">
            <div class="editor-label">
                @Html.LabelFor(model => model.UniversityType_Id)
            </div>
            <div class="editor-field">
                @Html.DropDownList("UniversityType_Id", null, "- - - - - Select - - - - - -", new { Class = "form-control" })
                @Html.ValidationMessageFor(model => model.UniversityType_Id)
            </div>
        </div>

        <div id="div_DoYouDoLanguageCourse" style="display: none">
            <div class="editor-label">
                @Html.LabelFor(model => model.DoYouDoLanguageCourse)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DoYouDoLanguageCourse)
                @Html.ValidationMessageFor(model => model.DoYouDoLanguageCourse)
            </div>
        </div>

        <div id="div_DoYouDoExchangeProgram" style="display: none">
            <div class="editor-label">
                @Html.LabelFor(model => model.DoYouDoExchangeProgram)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DoYouDoExchangeProgram)
                @Html.ValidationMessageFor(model => model.DoYouDoExchangeProgram)
            </div>
        </div>

        <div id="div_DoYouDoApprenticeship" style="display: none">
            <div class="editor-label">
                @Html.LabelFor(model => model.DoYouDoApprenticeship)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DoYouDoApprenticeship)
                @Html.ValidationMessageFor(model => model.DoYouDoApprenticeship)
            </div>
        </div>

    </div>

<script type="text/javascript">
    $(function () {

        //Reset-----------------------

        $('#DoYouHaveEnoughMoney').on('change', function (e) {
            HideCtrls(["div_FieldOfStudy_Id","div_StudyLevel_Id", "div_UniversityType_Id", "div_DoYouDoLanguageCourse", "div_DoYouDoExchangeProgram", "div_DoYouDoApprenticeship"]);

            $('#FieldOfStudy_Id').val("");
            $('#StudyLevel_Id').val("");
            $('#UniversityType_Id').val("");
            $('#DoYouDoLanguageCourse').val("");
            $('#DoYouDoExchangeProgram').val("");
            $('#DoYouDoApprenticeship').val("");

            var valueSelected = this.value;
            if (valueSelected == "true") {
                ShowCtrls(["div_FieldOfStudy_Id"]);
            }
        }
        );



        $('#FieldOfStudy_Id').on('change', function (e) {
            HideCtrls(["div_StudyLevel_Id", "div_UniversityType_Id", "div_DoYouDoLanguageCourse", "div_DoYouDoExchangeProgram", "div_DoYouDoApprenticeship"]);
            
            $('#StudyLevel_Id').val("");
            $('#UniversityType_Id').val("");
            $('#DoYouDoLanguageCourse').val("");
            $('#DoYouDoExchangeProgram').val("");
            $('#DoYouDoApprenticeship').val("");
            var valueSelected = this.value;
            if (valueSelected > 0) {
                ShowCtrls(["div_StudyLevel_Id"]);
            }
        }
       );

        $('#StudyLevel_Id').on('change', function (e) {
            HideCtrls([ "div_UniversityType_Id", "div_DoYouDoLanguageCourse", "div_DoYouDoExchangeProgram", "div_DoYouDoApprenticeship"]);
            
            $('#UniversityType_Id').val("");
            $('#DoYouDoLanguageCourse').val("");
            $('#DoYouDoExchangeProgram').val("");
            $('#DoYouDoApprenticeship').val("");
            var valueSelected = this.value;
            if (valueSelected > 0) {
                ShowCtrls(["div_UniversityType_Id"]);
            }
        }
       );

        $('#UniversityType_Id').on('change', function (e) {
            HideCtrls(["div_DoYouDoLanguageCourse", "div_DoYouDoExchangeProgram", "div_DoYouDoApprenticeship"]);
             
            $('#DoYouDoLanguageCourse').val("");
            $('#DoYouDoExchangeProgram').val("");
            $('#DoYouDoApprenticeship').val("");

            var valueSelected = this.value;
            if (valueSelected > 0) {
                ShowCtrls(["div_DoYouDoLanguageCourse"]);
            }
        }
      );

        $('#DoYouDoLanguageCourse').on('change', function (e) {
            HideCtrls(["div_DoYouDoExchangeProgram", "div_DoYouDoApprenticeship"]);
            
            $('#DoYouDoExchangeProgram').val("");
            $('#DoYouDoApprenticeship').val("");

            var valueSelected = this.value;
            if (valueSelected == "true" || valueSelected == "false") {
                ShowCtrls(["div_DoYouDoExchangeProgram"]);
            }
        }
      );

        $('#DoYouDoExchangeProgram').on('change', function (e) {
            HideCtrls(["div_DoYouDoApprenticeship"]);
            
            $('#DoYouDoApprenticeship').val("");
            var valueSelected = this.value;
            if (valueSelected == "true" || valueSelected == "false") {
                ShowCtrls(["div_DoYouDoApprenticeship"]);
            }
        }
     );
        

    });
</script>