﻿@model DAL.Tourism

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<div id="Tourism" style="margin-top: 20px; background-color: whitesmoke;">

    <div class="editor-label">
        @Html.LabelFor(model => model.DoYouNeedToApply)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DoYouNeedToApply)
        @Html.ValidationMessageFor(model => model.DoYouNeedToApply)
    </div>
</div>


