﻿@using Relocator_Project.Controllers
@model DAL.Person
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "signupform" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.ValidationMessage("UserEx")
    <!-- Button trigger modal -->

    <div class="modal fade" id="myModal">
        
        <div class="modal-dialog" style="width: 70%">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                    <h4 class="modal-title">Create</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <fieldset>
        <legend>Please fill your details!</legend>

        <br />
        <div id="msg" style="background-color: whitesmoke; color:green; padding: 10px; text-align:justify">
            @if (ViewBag.Message != null && ViewBag.Message != string.Empty)
            {
                @ViewBag.Message
            }
            else
            {
                <text>No Message Available</text>
            }
        </div>
        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SurName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SurName)
            @Html.ValidationMessageFor(model => model.SurName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Age)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Age)
            @Html.ValidationMessageFor(model => model.Age)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nationality)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nationality)
            @Html.ValidationMessageFor(model => model.Nationality)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FamilyStatus_Id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("FamilyStatus_Id", null, "- - - - - Select - - - - - -", new { Class = "form-control" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LevelOfGerman_Id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("LevelOfGerman_Id", null, "- - - - - Select - - - - - -", new { Class = "form-control" })
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.StudyLevel_Id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("StudyLevel_Id", null, "- - - - - Select - - - - - -", new { Class = "form-control" })
        </div>

        <div class="editor-label">
            Motivation
        </div>
        @Html.DropDownList("Motivation_Id", null, "- - - - - Select - - - - - -", new { Class = "form-control" })


        <div id="div_Work" style="visibility: hidden; height: 0px">
            @Html.HiddenFor(model => Model.Work_Id)
            @Html.Partial("_Work")

        </div>

        <div id="div_Entrepeneur" style="visibility: hidden; height: 0px">

            @Html.Partial("_Entrepeuneur")


        </div>

        <div id="div_LearnStudy" style="visibility: hidden; height: 0px">

            @Html.Partial("_Study")

        </div>

        <div id="div_Family" style="visibility: hidden; height: 0px">

            @Html.Partial("_Family")

        </div>

        <div id="div_Tourism" style="visibility: hidden; height: 0px">

            @Html.Partial("_Tourism")

        </div>

        <div id="div_Asylum" style="visibility: hidden; height: 0px">
            <div class="editor-label">
                @Html.LabelFor(model => model.IsAsylum)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IsAsylum)
                @Html.ValidationMessageFor(model => model.IsAsylum)
            </div>
        </div>

        @*        <div class="editor-label">
                @Html.LabelFor(model => model.isAdmin)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.isAdmin)
                @Html.ValidationMessageFor(model => model.isAdmin)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.hasUserPaid)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.hasUserPaid)
                @Html.ValidationMessageFor(model => model.hasUserPaid)
            </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor((model => model.Password))
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <p>
            @Html.Hidden("hiddenId", "create")
            <input type="submit" value="Create" onclick="buttonB_clickHandler(event)" />
            <input type="button" value="Evaluate" onclick="buttonA_clickHandler(event);" />
        </p>

    </fieldset>


}

<div>
    @Html.ActionLink("Back to List", "ListPeople")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section Jscripts
{
    @*Motivation Details Opetartions*@
    <script src="~/Scripts/Registration-JQery/MotivationOperation.js"></script>
    <script type="text/javascript">
        
        function buttonA_clickHandler(event) {

            document.getElementById('hiddenId').value = "Evaluate";
            document.getElementById("signupform").disableValidation = true;
            document.getElementById('signupform').submit();
        }

        function buttonB_clickHandler(event) {
            document.getElementById('hiddenId').value = "Create";
        }

        $(function () {

            var motivation_id = $("#Motivation_Id").val();
            $(document).ready(function () {
                dosome(motivation_id.toString());
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {

        })();
    </script>
<script type="text/javascript">
    $(window).load(function () {
        $('#myModal').modal({
            backdrop: 'static',
            keyboard: false
        })
        $('#myModal').modal('show');
    });
</script>
}
