﻿@model DAL.Person

@{
    ViewBag.Title = "Personal Record";
}

<h2>Personal Details</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Records</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SurName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SurName)
            @Html.ValidationMessageFor(model => model.SurName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Age)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Age)
            @Html.ValidationMessageFor(model => model.Age)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nationality)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nationality)
            @Html.ValidationMessageFor(model => model.Nationality)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FamilyStatus_Id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("FamilyStatus_Id", null, "- - - - - Select - - - - - -", new { Class = "form-control" })

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LevelOfGerman_Id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("LevelOfGerman_Id", null, "- - - - - Select - - - - - -", new { Class = "form-control" })
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.StudyLevel_Id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("StudyLevel_Id", null, "- - - - - Select - - - - - -", new { Class = "form-control" })
        </div>
        <div class="editor-label">
            Motivation
        </div>
        <div class="editor-field">
            @Html.DropDownList("Motivation_Id", null, "- - - - - Select - - - - - -", new { Class = "form-control" })
        </div>

        <div id="div_Work" style="visibility: hidden; height: 0px">
            @if (Model.Work != null)
            {
            @Html.Partial("_Work", Model.Work)
            }
        </div>

        <div id="div_Entrepeneur" style="visibility: hidden; height: 0px">
            @if (Model.Entrepeneur != null)
            {
            @Html.Partial("_Entrepeuneur", Model.Entrepeneur)
            }
        </div>

        <div id="div_LearnStudy" style="visibility: hidden; height: 0px">
            @if (Model.Study != null)
            {
            @Html.Partial("_Study", Model.Study)
            }
        </div>

        <div id="div_Family" style="visibility: hidden; height: 0px">
            @if (Model.Family != null)
            {
            @Html.Partial("_Family", Model.Family)
            }

        </div>

        <div id="div_Tourism" style="visibility: hidden; height: 0px">
            @if (Model.Tourism != null)
            {
            @Html.Partial("_Tourism", Model.Tourism)
            }
        </div>

        <div id="div_Asylum" style="visibility: hidden; height: 0px">
            <div class="editor-label">
                @Html.LabelFor(model => model.IsAsylum)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IsAsylum)
                @Html.ValidationMessageFor(model => model.IsAsylum)
            </div>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.isAdmin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isAdmin)
            @Html.ValidationMessageFor(model => model.isAdmin)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.hasUserPaid)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.hasUserPaid)
            @Html.ValidationMessageFor(model => model.hasUserPaid)
        </div>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@section Jscripts
    {
    @*Motivation Details Opetartions*@
    <script src="~/Scripts/Registration-JQery/MotivationOperation.js"></script>
    <script>
        $(function () {
            var id = "@Model.Motivation_Id";

            $(document).ready(function () {
                dosome(id.toString());
                $('#Motivation_Id').attr('disabled', true);
                $('#Email').attr('disabled', true);
            });
        });
    </script>
}