﻿@{
    ViewBag.Title = "AdminHome";
}

<h2>Admin Dashboard</h2>
@{
    ViewBag.UserName = User.Identity.Name;
}

<p>
    <i>@ViewBag.UserName</i>
</p>
<br />
@Html.ActionLink("Personal Details", "LoadPersonalDetails", "Registration")
<br />@Html.ActionLink("Persons List", "ListPeople", "Registration")
<br />
<br />
@Html.ActionLink("Log Off", "Logout", "UserPanel")
